<nb-layout>
  <nb-layout-header fixed>
    <h1 class="title">Börsensimulation</h1>
  </nb-layout-header>
  <nb-layout-column>
    <!--TODO: loading-->
    <nb-card *ngIf="!isOpen">
      <nb-card-body>
        We're sorry, but the market is currently closed
      </nb-card-body>
    </nb-card>

    <nb-card *ngIf="isOpen">
      <nb-card-body>
        <nb-stepper orientation="horizontal">
          <nb-step [label]="'Token'">
            <form #nameForm="ngForm" class="step-container">
              <div class="row">
                <div class="col">
                  <h4>Enter a Token</h4>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  The token will be used for requests to the stock market.
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <input
                    type="text"
                    placeholder="Enter your token"
                    class="form-control"
                    name="token"
                    required
                    nbInput
                    fullWidth
                    ngModel
                    #token="ngModel"
                    [status]="token.invalid ? 'danger' : 'basic'"
                  />
                </div>
              </div>
              <div class="row mt-3 justify-content-center">
                <div class="col-2">
                  <button nbButton disabled nbStepperPrevious fullWidth>
                    Back
                  </button>
                </div>
                <div class="col-2">
                  <button
                    nbButton
                    [disabled]="token.invalid"
                    nbStepperNext
                    fullWidth
                  >
                    Next
                  </button>
                </div>
              </div>
            </form>
          </nb-step>

          <nb-step [label]="'Stock'">
            <form #nameForm="ngForm" class="step-container">
              <div class="row">
                <div class="col">
                  <h4>Select a Stock</h4>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  Select a stock on which to execute a szenario
                </div>
              </div>
              <div class="row"><!--TODO: Button-Group?-->
                <div class="col">
                  <nb-select
                    placeholder="Select a stock"
                    fullWidth
                    [(selected)]="selectedStock"
                  >
                    <nb-option
                      *ngFor="let stock of stocks"
                      [value]="stock.id"
                      >{{ stock.name }}</nb-option
                    >
                  </nb-select>
                </div>
              </div>
              <div class="row mt-3 justify-content-center">
                <div class="col-2">
                  <button nbButton nbStepperPrevious fullWidth>Back</button>
                </div>
                <div class="col-2">
                  <button
                    nbButton
                    [disabled]="!selectedStock"
                    nbStepperNext
                    fullWidth
                  >
                    Next
                  </button>
                </div>
              </div>
            </form>
          </nb-step>

          <nb-step [label]="'Szenario'">
            <!--TODO-->
            <div class="step-container">
            <div class="row">
              <div class="col">
                <app-szenario></app-szenario>
              </div>
            </div>

            <div class="row">
              <div class="col-2">
                <button nbButton nbStepperPrevious fullWidth>Back</button>
              </div>
              <div class="col-2">
                <button nbButton nbStepperNext fullWidth>Next</button>
              </div>
            </div>
            </div>
          </nb-step>

          <nb-step [label]="'Run'"> 
            <!-- TODO: -->
          </nb-step>
        </nb-stepper>
      </nb-card-body>
    </nb-card>

    <!--TODO: Executing-->

    <app-chart></app-chart>

    <app-inputbox></app-inputbox>
  </nb-layout-column>

  <nb-layout-footer fixed> 2021 </nb-layout-footer>
</nb-layout>
