<nb-card>
    <nb-card-body>
            <nb-layout>
                <nb-layout-column>
                    <nb-layout>
                        <nb-layout-column>
                            <h2 style="font-size: 1.5em; color: hsl(29.4, 100%, 50%);">Stylefaktor 1</h2>
                        </nb-layout-column>
                        <nb-layout-column>
                            <input type="text" nbInput placeholder="Text field">
                        </nb-layout-column>
                    </nb-layout>
                    <nb-layout>
                        <nb-layout-column>
                            <h2 style="font-size: 1.5em; color: hsl(29.4, 100%, 50%);">Stylefaktor 3</h2>
                        </nb-layout-column>
                        <nb-layout-column>
                            <input type="text" nbInput placeholder="Text field">
                        </nb-layout-column>
                    </nb-layout>
                </nb-layout-column>
                <nb-layout-column>
                    <nb-layout>
                        <nb-layout-column>
                            <h2 style="font-size: 1.5em; color: hsl(25, 100%, 50%);">Stylefaktor 2</h2>
                        </nb-layout-column>
                        <nb-layout-column>
                            <input type="text" nbInput placeholder="Text field">
                        </nb-layout-column>
                    </nb-layout>
                    <nb-layout>
                        <nb-layout-column>
                            <h2 style="font-size: 1.5em; color: hsl(25, 100%, 50%);">Stylefaktor 4</h2>
                        </nb-layout-column>
                        <nb-layout-column>
                            <input type="text" nbInput placeholder="Text field">
                        </nb-layout-column>
                    </nb-layout>
                </nb-layout-column>
            </nb-layout>
    </nb-card-body>
  </nb-card>
