<nb-card>
    <nb-card-body>
        <h3>Overwrite Settings:</h3>
        <nb-card>
            <nb-card-header>
                <label>
                    <label>Setting 1:</label>
                    <input type="text" [formControl]="inputFormControl" class="input" nbInput placeholder="current Value"/>
                </label>
            </nb-card-header>
        </nb-card>
        <nb-card>
            <nb-card-header>
                <label>
                    <label>Setting 2:</label>
                    <input type="text" [formControl]="inputFormControl" class="input" nbInput placeholder="current Value"/>
                </label>
            </nb-card-header>
        </nb-card>
        <nb-card>
            <nb-card-header>
                <label>
                    <label>Setting 3:</label>
                    <input type="text" [formControl]="inputFormControl" class="input" nbInput placeholder="current Value"/>
                </label>
            </nb-card-header>
        </nb-card>
        <nb-card>
            <nb-card-header>
                <label>
                    <label>Setting 4:</label>
                    <input type="text" [formControl]="inputFormControl" class="input" nbInput placeholder="current Value"/>
                </label>
            </nb-card-header>
        </nb-card>
    </nb-card-body>
  </nb-card>
