<nb-card style="border-color: transparent; border-radius: 1em;">
    <nb-card-header><h3>Szenarios</h3>
    </nb-card-header>
    <nb-card-body style="text-align: center">
        <nb-button-group class="buttonGroup" size="medium">
            <button nbButtonToggle>Feindliche Übernahme</button>
            <button nbButtonToggle>Ruhiger Markttag</button>
            <button nbButtonToggle>Hohes Handelsvolumen</button>
            <button nbButtonToggle>Positive Nachrichten</button>
            <button nbButtonToggle>Durchschnittlicher Handelstag</button>
          </nb-button-group>
    </nb-card-body>
  </nb-card>