<nb-card>
    <nb-card-header>
        <label>
            <label>Szenarios:</label>
            <nb-button-group class="buttonGroup" size="medium">
                <button nbButtonToggle>Feindliche Übernahme</button>
                <button nbButtonToggle>Ruhiger Markttag</button>
                <button nbButtonToggle>hi</button>
                <button nbButtonToggle>Positiver Markttag</button>
                <button nbButtonToggle>Sind die Szenarios hardgecodet?</button>
              </nb-button-group>
        </label>
    </nb-card-header>
  </nb-card>