@import '~@nebular/theme/styles/theming';
@import '~@nebular/theme/styles/themes/cosmic';

$nb-themes: nb-register-theme((

  // add your variables here like:

  background-basic-color-1: #0E204A,
  background-basic-color-2: #5B5B5B,
  background-basic-color-3: #1444b6,

  color-primary-100: #FFEFCC,
  color-primary-200: #FFDA99,
  color-primary-300: #FFC066,
  color-primary-400: #FFA73F,
  color-primary-500: #FF7D00,
  color-primary-600: #DB6000,
  color-primary-700: #B74700,
  color-primary-800: #933100,
  color-primary-900: #7A2300,

  color-primary-hover: #FF7D00,

  border-basic-color-1: #FF7D00,
  
), cosmic, cosmic);
