name: Deploy freshly built Docker Image

on:
  release:
    types: [published]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2.3.4
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v1
    - name: Login to Docker Registry
      uses: docker/login-action@v1
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PAT }}
    - id: string
      uses: ASzc/change-string-case-action@v1
      with:
        string: ${{ github.event.repository.name }}
    - name: Build and push
      uses: docker/build-push-action@v2
      with:
        context: ./backend
        push: true
        tags: stonks2moon/${{ steps.string.outputs.lowercase }}:${{ github.sha }}, stonks2moon/${{ steps.string.outputs.lowercase }}:latest
        
