name: Testing

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  testing:
    runs-on: ubuntu-latest
		if: "!contains(github.event.head_commit.message, '[skip-ci]')"
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js
        uses: actions/setup-node@v1
        with:
          node-version: 14.x
      - run: yarn install
        working-directory: "backend"
      - run: yarn test:cov --forceExit
        working-directory: "backend"
      - name: Publish test coverage report
        uses: EndBug/add-and-commit@v4
        with:
          add: docs
          force: true
          message: Add generated docs
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
